In [4]:
print ("https://www.pordata.pt/Portugal/Despesa+m%c3%a9dia+di%c3%a1ria+por+turista+total++por+motivo+principal+e+por+destino+da+viagem-2626")

https://www.pordata.pt/Portugal/Despesa+m%c3%a9dia+di%c3%a1ria+por+turista+total++por+motivo+principal+e+por+destino+da+viagem-2626

In [29]:
import pandas as pd
import csv

In [43]:
df = pd.read_csv('Despesas.csv')
df.head(10)

,Anos,Total,"Lazer, recreio e férias",Visita a Familiares e Amigos,Negócios ou Profissional
0,2001,21.6,22.7,13.5,43.4
1,2002,25.4,25.6,17.8,46.1
2,2003,24.8,26.2,14.8,52.3
3,2004,27.3,28.7,17.5,49.1
4,2005,24.5,25.5,19.8,31.4
5,2006,28.2,29.8,19.0,39.4
6,2007,┴ 26.1,┴ 25.4,┴ 18.6,┴ 68.3
7,2008,37.0,36.2,31.6,70.3
8,2009,┴ 50.6,┴ 52.1,┴ 33.5,┴ 99.9
9,2010,26.9,29.1,21.3,37.4

In [44]:
df.dtypes

Anos                             int64
Total                           object
Lazer, recreio e férias         object
Visita a Familiares e Amigos    object
Negócios ou Profissional        object
dtype: object